/* cyrillic-ext */
@font-face {
  font-family: 'Nabla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nabla/v9/j8_D6-LI0Lvpe7Makz5UhJt9C3uqg_X_75gyGS4jAxsNIjrRBRpeE3Z6x96OvGlo.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* math */
@font-face {
  font-family: 'Nabla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nabla/v9/j8_D6-LI0Lvpe7Makz5UhJt9C3uqg_X_75gyGS4jAxsNIjrRBWteE3Z6x96OvGlo.woff) format('woff');
  unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0330, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2034-2037, U+2057, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2102, U+210A-210E, U+2110-2112, U+2115, U+2119-211D, U+2124, U+2128, U+212C-212D, U+212F-2131, U+2133-2138, U+213C-2140, U+2145-2149, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B6, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
}
/* vietnamese */
@font-face {
  font-family: 'Nabla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nabla/v9/j8_D6-LI0Lvpe7Makz5UhJt9C3uqg_X_75gyGS4jAxsNIjrRBRheE3Z6x96OvGlo.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nabla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nabla/v9/j8_D6-LI0Lvpe7Makz5UhJt9C3uqg_X_75gyGS4jAxsNIjrRBRleE3Z6x96OvGlo.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nabla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nabla/v9/j8_D6-LI0Lvpe7Makz5UhJt9C3uqg_X_75gyGS4jAxsNIjrRBRdeE3Z6x96OvA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pacifico/v22/FwZY7-Qmy14u9lezJ-6K6MmBp0u-zK4.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pacifico/v22/FwZY7-Qmy14u9lezJ-6D6MmBp0u-zK4.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pacifico/v22/FwZY7-Qmy14u9lezJ-6I6MmBp0u-zK4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pacifico/v22/FwZY7-Qmy14u9lezJ-6J6MmBp0u-zK4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pacifico/v22/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/righteous/v13/1cXxaUPXBpj2rGoU7C9WhnGFq8Kk1doH.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/righteous/v13/1cXxaUPXBpj2rGoU7C9WiHGFq8Kk1Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: 'Secular One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/secularone/v11/8QINdiTajsj_87rMuMdKyqDgOOhZL4pL06U.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Secular One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/secularone/v11/8QINdiTajsj_87rMuMdKyqDsOOhZL4pL06U.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Secular One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/secularone/v11/8QINdiTajsj_87rMuMdKyqDiOOhZL4pL.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG14mBlprZ0gk0w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG18mBlprZ0gk0w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG1EmBlprZ0g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG14mBlprZ0gk0w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG18mBlprZ0gk0w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG1EmBlprZ0g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG14mBlprZ0gk0w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG18mBlprZ0gk0w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG1EmBlprZ0g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  --google-font-color-nabla:none;
}

html,
body {
  font-family: 'Signika', sans-serif;
  color: #304868;
}

.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  width: 100%;
  z-index: 100;
}
.navbar-light .navbar-brand,
.navbar-light .nav-link,
.navbar-light .nav-link.active {
  color: #fff !important;
}
.navbar-light .navbar-brand img,
.navbar-light .navbar-toggler img {
  filter: invert(97%) sepia(0%) saturate(167%) hue-rotate(55deg) brightness(119%) contrast(100%);
}
.navbar-light .nav-social-media .nav-link {
  filter: invert(93%) sepia(100%) saturate(1%) hue-rotate(13deg) brightness(105%) contrast(101%);
}
.navbar-light .navbar-toggler {
  border-color: #fff;
}

.navbar-brand {
  color: #304868;
  top: 1.5rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.navbar-toggler {
  border: 1px solid #304868;
}
.navbar-toggler img {
  filter: invert(25%) sepia(17%) saturate(1350%) hue-rotate(175deg) brightness(97%) contrast(92%);
}
.navbar-brand img {
  filter: invert(26%) sepia(12%) saturate(2055%) hue-rotate(175deg) brightness(90%) contrast(88%);
}
.nav-link {
  font-size: 18px;
}
.navbar .nav-link.active {
  font-weight: bold;
  color: #304868;
}
.nav-menu .nav-link {
  margin-right: 2rem;
  color: #304868;
  padding-left: 0 !important;
  padding-right: 0 !important;
  cursor: pointer;
}
.nav-link:hover {
  text-decoration: underline;
}
.nav-social-media .nav-link {
  margin-left: 1rem;
  filter: invert(24%) sepia(34%) saturate(717%) hue-rotate(174deg) brightness(98%) contrast(91%);
}

.background {
  position: absolute;
  z-index: 0;
  top: 0;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  border-bottom: 1px solid #fff;
  background-image: url('../img/index.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.background > svg {
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: 3;
}
.background > .frogy-mask {
  height: calc(100%);
  width: 100%;
  position: absolute;
  z-index: 2;
  border-bottom: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.1);
}
.frogy-mask {
  -webkit-backdrop-filter: saturate(100%) blur(5px);
  backdrop-filter: saturate(100%) blur(5px);

  transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  -webkit-transition-property: background-color, -webkit-backdrop-filter;
  transition-property: background-color, -webkit-backdrop-filter;
  transition-property: background-color, backdrop-filter;
  transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
}

.main {
  position: relative;
  z-index: 50;
}
.scroll-window {
  margin: 0;
  width: 100vw;
  padding: 0 calc(1.5rem / 2) 100px;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll-window > div::after {
  content: '';
  padding-right: calc(1.5rem / 2);
}
.scroll-window::-webkit-scrollbar {
  display: none;
}

.slogan {
  text-align: center;
  margin: 4rem 0;
  font-size: 6rem;

  font-family: 'Pacifico', cursive;
}
.slogan:hover {
  animation: tilt-n-move-shaking 0.2s infinite;
}
.text-white {
  color: #fff;
}

a.blog_post {
  display: inline-block;
  background-color: #fff;
  border-radius: 25px;
  display: block;
  padding: 1.5rem;
  color: #000;
  text-decoration: none;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  position: relative;
  z-index: 4;

  transition: 0.3s;
}
a.blog_post:hover {
  transform: scale(1.03);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  color: #000;
  z-index: 4;
}
a.blog_post img.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 2 / 1.2;
  border-radius: 15px;
}
a.blog_post h4 {
  color: #db7337;
  font-weight: bold;
}
a.blog_post p {
  color: #304868;
}
a.blog_post img.icon {
  filter: invert(26%) sepia(14%) saturate(1930%) hue-rotate(175deg) brightness(89%) contrast(86%);
}

.main-gradient {
  background: -webkit-linear-gradient(45deg, #304868 0%, #666571 30%, #c29f95 45%, #e4945b 70%, #db7337 85%);
}

.article .cover-img {
  object-fit: cover;
  aspect-ratio: 2 / 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  padding: 0;
  overflow: hidden;*/
}
.article .cover-img .gradient-box {
  padding: 1.5rem;
  color: #fff;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  width: 100%;
}
.article .cover-img .gradient-box-reverse {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  width: 100%;
  height: calc(1rem + 83px);
}
.article .cover-img h1 {
  padding: 2rem;
  padding-bottom: 0;
  padding-left: 0;

  color: #fff;

  font-weight: 800;
  font-size: 5.5rem;
  font-family: 'Righteous', cursive;
  padding: 0;

  text-shadow: rgba(0, 0, 0, 0.5) 0px 20px 25px;
}

.article .content .content-img {
  width: 100%;
  border-radius: 25px;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.article .content .content-img > img {
  width: 100%;
  border-radius: 15px;
}
.article .content .img-margin-up {
  margin-top: -10rem;
}
.article .title-box {
  padding: 1rem;
  background-color: #fff;
  width: fit-content;
}
.article .content h1 {
  font-family: 'Secular One', sans-serif;
  color: #304868;
}
.article .content h3 {
  color: #db7337;
}
.article .content p,
ol.p {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #304868;
  white-space: pre-line;
}
.article .fullframe > img{
  width: 100%;
}
.fullframe .tips {
  background: linear-gradient(to bottom, transparent 0%, transparent 70%, black 100%);
  width: 100%;
  height: 100%;
  top: 0px;
}
.fullframe .tips > img {
  filter: invert(97%) sepia(0%) saturate(167%) hue-rotate(55deg) brightness(119%) contrast(100%);
}
.fullframe .tips > p {
  color: #fff;
}
.article .content .video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.article .content .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.article .content img.gallery-pic {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.article .content img.ratio34-pic {
  object-fit: cover;
  aspect-ratio: 3/4;
}
.article .content img.ratio43-pic {
  object-fit: cover;
  aspect-ratio: 4/3;
}
.article .content img.ratio11-pic {
  object-fit: cover;
  aspect-ratio: 1/1;
}
.article .content .tips-box {
  background-color: #ffeb3b;
  border-radius: 15px;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.article .content .tips-box img {
  filter: invert(23%) sepia(16%) saturate(1720%) hue-rotate(174deg) brightness(95%) contrast(85%);
}
.article .content .text-box > div.position-absolute {
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
  top: 1.5rem;
  z-index: 2;
  padding: 1rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.4) 80%, transparent 100%);
  color: #fff;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  overflow-y: scroll;
}
.article .content .text-box.p-0 > div.position-absolute {
  width: 100%;
  height: 100%;
  top: 0;
  padding: 1.5rem;
}
.article .content .text-box.only-title > div.position-absolute {
  background: linear-gradient(to bottom, transparent 0%, transparent 70%, black 100%);
}
.article .content .text-box > div.position-absolute:hover {
  opacity: 1;
}
.article .content .text-box > div.position-absolute p {
  color: #fff;
}

.back-to-top {
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .8);
  cursor: pointer;
  z-index: 100;
}

#korea .tips-box {
  background-color: #f8ede3 !important;
}
#germany .tips-box {
  background-color: #eef1ff !important;
}
#japan .tips-box {
  background-color: #f1e4c0 !important;
}

footer p {
  color: #fff;
}
footer > svg {
  width: 100vw;
  margin-top: -1px;
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(2px, 2px) rotate(1deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-2px, 2px) rotate(-1deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@media only screen and (min-width: 992px) {
  .scroll-window {
    padding: 0 calc((100vw - 960px - (1.5rem * 0.5)) / 2) 100px;
  }
  .scroll-window > div::after {
    padding-right: calc((100vw - 960px - (1.5rem * 0.5)) / 2);
  }
  .article .cover-img h1 {
    font-size: 5.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .scroll-window {
    padding: 0 calc((100vw - 1140px + (1.5rem * 0.5)) / 2) 100px;
  }
  .scroll-window > div::after {
    padding-right: calc((100vw - 1140px + (1.5rem * 0.5)) / 2);
  }
  .article .cover-img h1 {
    font-size: 5.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .scroll-window {
    padding: 0 calc((100vw - 1320px + (1.5rem * 0.5)) / 2) 100px;
  }
  .scroll-window > div::after {
    padding-right: calc((100vw - 1320px + (1.5rem * 0.5)) / 2);
  }
  
}

@media only screen and (max-width: 992px) {
  .article .content .img-margin-up {
    margin-top: 0 !important;
  }
  .article .cover-img h1 {
    font-size: 5.5rem;
  }
  .nav-social-media .nav-link {
    margin-left: 0 !important;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-light .navbar {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .nav-social-media .nav-link {
    margin-left: 0;
  }
  .scroll-on-mobile {
    overflow-y: scroll !important;
  }
  .article .content .img-margin-up {
    margin-top: 0 !important;
  }
  .article .cover-img h1 {
    font-size: 5.5rem;
  }
}
@media only screen and (max-width: 375px) {
  .slogan {
    font-size: 4rem;
    margin: 1rem 0;
  }
  a.blog_post {
    padding: 1rem;
  }
  .article .cover-img h1 {
    font-size: 3rem;
  }
  .article .content .content-img {
    padding: 0rem;
  }
  .article .content .img-margin-up {
    margin-top: 0 !important;
  }
  .article .content h3 {
    padding-left: 0 !important;
  }
  .article .content .text-box > div.position-absolute {
    height: 100%;
    width: 100%;
    top: 0;
  }
}
