.error {
  color: red;
}

.form-check {
  padding-left: .75rem !important;
}

.btn-primary.btn {
  background-color: #db7337;
  border-color: #db7337;
}
.btn-primary.btn:focus, .btn-primary.btn:hover {
  background-color: #c76126;
  border-color: #c76126;
}

.empty-img {
  background-image: repeating-linear-gradient(45deg, currentColor 25%, transparent 25%, transparent 75%, currentColor 75%, currentColor),repeating-linear-gradient(45deg, currentColor 25%, transparent 25%, transparent 75%, currentColor 75%, currentColor);
  background-position: 0 0,10px 10px;
  background-size: calc(2 * 10px) calc(2 * 10px);
  color: #efefef;
  height: 120px;
}